body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Julietta-Messie-Demo";
  src: local("Julietta-Messie-Demo"),
    url(../public/assets/fonts/Julietta-Messie-Demo.otf) format("opentype");
}

@font-face {
  font-family: "Roobert-Regular";
  src: local("Roobert-Regular"),
    url(../public/assets/fonts/Roobert-Regular.ttf) format("opentype");
}
